@use "src/styles/01-settings/settings.colors" as colors;

.c-SelectingModal {
  &__Title {
    color: colors.$expert-blue;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
  }

  &__Buttons {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    background: colors.$white;
  }
}
