@use "../01-settings/settings.colors" as colors;

h1,
h2 {
  margin: 0;
  padding: 0;
  color: colors.$expert-blue;
  font-style: normal;
}

h1 {
  font-weight: 500;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
}
