@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;
@use "src/styles/02-tools/tools.pictos" as p;

.c-RequestStaticUser {
  @include shadows.shadow(1);

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 20px 32px;
  background-color: colors.$white;
  border-radius: 8px;

  &__UserContainer {
    margin: 0.5em 0 0 4px;
    padding: 20px;
    border: solid 1px colors.$black;
  }

  &__Header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.3em;

    div:last-of-type {
      margin-left: auto;
    }
  }

  &__Picto {
    @include p.pictos;

    width: 20px;
    height: 20px;
    margin-right: 14px;
  }

  &__Field:not(:last-of-type) {
    width: 50%;
    margin-bottom: 0.8em;
  }

  &__UserAllowSMSNotification {
    width: 100%;
  }
}
