@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;
@use "src/styles/02-tools/tools.typography" as typo;

.c-EditoDynamicFields {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__Options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border: 1px solid colors.$blue-4;
    border-radius: 8px;
  }

  &__OptionsTitle {
    color: colors.$blue-2;
    font-weight: 700;
  }

  &__OptionsList {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
  }
}
