@use "src/styles/01-settings/settings.colors" as colors;

.c-RequestTypeBlock {
  &__GroupCheckbox {
    display: flex;
    grid-gap: 15px;
    grid-column: 2;
    width: 50%;
    margin-bottom: 10px;
  }

  &__CheckboxesError {
    width: 100%;
    color: colors.$error;
  }

  &__Title {
    margin-bottom: 15px;

    &_hidden {
      display: none;
    }
  }
}
