@use "../01-settings/settings.layout" as layout;

.o-Page {
  &__Content {
    position: relative;
    top: layout.$header-height;
    left: layout.$sidebar-width;
    display: flex;
    flex-direction: column;
    width: calc(100vw - #{layout.$sidebar-width});
    height: calc(100vh - #{layout.$header-height});
    padding: 0 78px;
    overflow: hidden auto;
  }
}
