@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;

.o-Form {
  &__Group {
    @include shadows.shadow(1);

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 20px 32px;
    background-color: colors.$white;
    border-radius: 8px;
  }

  &__RequiredLabel {
    color: colors.$blue-1;
    font-size: 14px;
    line-height: 21px;
  }
}
