.c-EditoBibliothequeDeMedia__ActionButtons {
  display: flex;
  justify-content: flex-end;
}

.c-EditoBibliothequeDeMedia__FolderCards {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  margin-top: 12px;
}

.c-EditoBibliothequeDeMedia__Folders {
  display: flex;
  flex-direction: column;
}
