@use "src/styles/01-settings/settings.colors" as colors;

.c-TimeInput {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 80px;
  height: 48px;
  padding: 0 8px;
  color: colors.$blue-1;
  background: colors.$gray-0;
  border: 1px solid colors.$gray-250;
  border-radius: 4px;

  &_disabled {
    background: colors.$gray-200;
    cursor: not-allowed;
  }
}
