@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.buttons" as buttons;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.shadows" as shadows;

.c-MediaFolderCard {
  $self: &;
  @include shadows.shadow(1);

  position: relative;
  width: 270px;
  border: 1px solid colors.$blue-4;
  border-radius: 4px;

  &__Button {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    padding: 16px;
  }

  &__Informations {
    display: block;
    text-align: left;
  }

  &__Title {
    @include typo.heading(5);
  }

  &__Description {
    @include typo.text("body");

    font-size: 12px;
  }

  &__Edit {
    position: absolute;
    top: 12px;
    right: 6px;
    display: none;
  }

  &:hover &__Edit,
  &:focus-within &__Edit {
    display: block;
  }

  &__Picto {
    width: 26px;
    height: 26px;

    &_folder {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-folder'%3E%3Cpath d='M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}
