@use "src/styles/01-settings/settings.colors" as colors;

.c-RequestAggregate {
  width: 60%;
  min-width: 600px;

  &__Title,
  &__Subtitle {
    display: block;
    margin-bottom: 18px;
  }

  &__Error {
    color: colors.$error;
  }

  &__ModalText {
    display: block;
    margin-bottom: 18px;
  }

  &__ModalButtonsContainer {
    display: flex;

    button:first-of-type {
      margin-right: 18px;
    }
  }
}
