@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;
@use "src/styles/02-tools/tools.focus" as focus;

.c-CommonDataTable {
  @include shadows.shadow(1);
  @include focus.focus-ring(true);

  border-radius: 8px 8px 0 0 !important;

  // stylelint-disable selector-class-pattern
  .rdt_TableHead,
  .rdt_TableRow {
    color: colors.$expert-blue;
    font-weight: 500;
    font-size: 16px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 24px;
  }

  .rdt_TableHeadRow {
    padding: 24px 0 15px;
    background-color: colors.$blue-light;
  }

  .rdt_TableCol,
  .rdt_TableCell {
    padding-right: 12px;
    padding-left: 12px;
  }

  .rdt_TableCol_Sortable {
    gap: 10px;

    span {
      content: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.242 3.828 8.777.293a1 1 0 0 1 1.415 1.414L5.948 5.95a1 1 0 0 1-1.415-.001L.292 1.707A1 1 0 0 1 1.706.293l3.536 3.535Z' fill='%23030F40'/%3E%3C/svg%3E");
    }
  }

  .rdt_TableRow {
    min-height: 60px;
    padding: 12px 0;
    line-height: 24px;

    &:not(:last-of-type) {
      border-bottom-color: colors.$blue-4;
    }
  }

  // stylelint-enable selector-class-pattern

  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
