@use "src/styles/01-settings/settings.colors" as colors;

.c-RequestSideBar {
  &__Status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-weight: 500;
    font-family: DINPro-Medium, sans-serif;

    &_draft {
      background-color: colors.$warning-light;
    }

    &_activated {
      background-color: colors.$success-light;
    }
  }
}
