@use "src/styles/01-settings/settings.colors" as colors;

.c-DataTableTextArea {
  $self: &;

  width: 100%;
  color: colors.$expert-blue;
  font-weight: 500;
  font-size: 16px;
  font-family: DINPro-Medium, sans-serif;
  line-height: 24px;

  &__Input {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    width: 100%;
    min-height: 26px;
    padding: 0 8px;
    color: colors.$blue-1;
    border: 1px solid colors.$gray-600;
    border-radius: 4px;
  }
}
