@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.classboardBackground" as classboardBackground;
@use "src/styles/02-tools/tools.pictos" as p;

.c-CommonImageCropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  // stylelint-disable selector-class-pattern
  .ReactCrop__child-wrapper {
    position: relative;
    width: auto;
    width: 500px;
    margin: 0;
    overflow: hidden;
  }

  &__Image {
    width: auto;
    height: auto;
    object-fit: contain;
  }

  &__NavBar {
    @include classboardBackground.bg;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    width: 100%;
    height: 52px;
    padding: 10px;
  }

  &__Button {
    width: 32px;
    height: 32px;
    padding: 0;

    &_cross {
      @include p.get-picto("cross");
    }

    &_check {
      @include p.get-picto("check");
    }
  }
}
