@use "src/styles/01-settings/settings.colors" as colors;

.c-RequestsPage {
  &__ModalText {
    display: block;
    margin-bottom: 18px;
  }

  &__ModalButtonsContainer {
    display: flex;

    button:first-of-type {
      margin-right: 18px;
    }
  }

  &__Table {
    margin-top: 20px;
    margin-bottom: 40px;

    div[data-column-id="recipient"] div:first-child {
      white-space: pre;
    }

    &_expandedrow {
      padding: 15px;
      font-size: medium;
      background-color: colors.$gray-100;

      table {
        width: 95%;
        table-layout: fixed;
      }

      td {
        padding-bottom: 10px;
        white-space: pre;
      }

      td:first-child {
        overflow: hidden;
        font-weight: bold;
        text-overflow: ellipsis;
      }
    }

    &_expandedrow:last-child {
      grid-column: 2;
      border-bottom: 1px solid colors.$gray-250;
    }
  }

  &__Title {
    margin-top: 38px;
  }

  &__Link {
    // TODO: Use main component for styling the DataTable
    font-weight: 500;
    font-family: DINPro-Medium, sans-serif;
  }
}
