/* Generic */
$black: #000;
$white: #fff;
$off-white: #fafafa;
$background: #faf8f4;

/* Imported from SUEZ DS */
$primary: #77b7fcff;
$danger: #eb4a65ff;
$gray-0: #f4f8ff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-800: #343a40;
$expert-blue: #030f40;
$blue-1: #3d466c;
$blue-2: #767c97;
$blue-3: #abafbf;
$blue-4: #d5d6de;
