@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.focus" as focus;

.c-DataTableFilters {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;

  &__Filter {
    @include focus.focus-ring(true, 2px);

    padding: 0;

    &_active {
      font-weight: 700;
    }
  }
}
