@use "src/styles/01-settings/settings.colors" as colors;

.c-InformationsCard {
  display: flex;
  flex-direction: column;
  gap: 34px;

  &__CreationDate {
    flex-direction: column;
  }

  &__CreationDateLabel {
    color: colors.$expert-blue;
    font-weight: 500;
    font-size: 16px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 24px;
  }

  &__CreationDateAndTime {
    margin-top: 10px;
    color: colors.$blue-1;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__UpdateDate {
    flex-direction: column;
  }

  &__UpdateDateLabel {
    color: colors.$expert-blue;
    font-weight: 500;
    font-size: 16px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 24px;
  }

  &__UpdateDateDateAndTime {
    margin-top: 10px;
    color: colors.$blue-1;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
