@use "src/styles/01-settings/settings.colors" as colors;

.c-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid colors.$gray-200;

  &__Version {
    margin-left: 1em;
    font-size: 16px;
  }

  &__ContentContainer {
    position: relative;
    z-index: 10;
    background-color: colors.$white;
  }

  &__Content {
    display: flex;
    justify-content: right;
    height: 72px;
  }

  &__LogoSuez {
    margin: auto 30px auto 0;
  }
}
