@use "src/styles/02-tools/tools.pictos" as p;

.c-CommonReturnButton {
  &__BackButton {
    @include p.get-picto(
      "arrowLeft",
      $backgroundPosition: left,
      $backgroundSize: 16px
    );

    position: absolute;
    top: 30px;
    padding-left: 26px;
  }
}
