.c-AppointmentManagementPage {
  margin-top: 43px;

  .c-PageTitle:first-of-type {
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .c-PageTitle:nth-of-type(2) {
    margin-top: 0;
    padding-top: 10px;
  }
}
