@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.focus" as focus;
@use "src/styles/02-tools/tools.pictos" as p;

.c-DataTableActions {
  $self: &;

  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-width: 72px;
  overflow: hidden;

  &_warning {
    // TODO: show warning visual ?
  }

  &__Actions {
    display: flex;
    flex-flow: row nowrap;
    visibility: visible;

    #{$self}_confirm & {
      visibility: hidden;
    }
  }

  &__EditActions {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    visibility: hidden;

    #{$self}_confirm & {
      visibility: visible;
    }
  }

  &__Button {
    @include focus.focus-ring;
    @include p.picto-classes(
      (
        "edit",
        "fileDouble",
        "trash",
        "eye",
        "eyeClosed",
        "yes",
        "no",
        "unlink",
        "arrowUp",
        "arrowDown"
      )
    );

    display: flex;
    width: 16px;
    height: 16px;
    margin: 10px;
    transition: opacity ease 0.1s;
    user-select: none;

    &_disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}
