@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;

.c-BarometerManagement {
  width: 100%;

  &__Container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 0;
  }

  &__ProductionContainer {
    display: flex;
    gap: 100px;
    align-items: center;
  }

  &__Info {
    width: 82%;
    margin: 32px 0;
    padding: 16px;
    background-color: colors.$gray-0;
    border: 1px solid colors.$blue-3;
    border-radius: 4px;
  }

  &__ButtonContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
  }

  &__Buttons {
    display: flex;
    gap: 16px;
  }

  &__Barometer {
    @include shadows.shadow(1);

    position: relative;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 16px;
    background-color: colors.$white;
    border-radius: 8px;
  }

  &__BarometerTopInfo {
    font-size: 16px;
    text-align: center;

    span {
      font-weight: 600;
    }
  }

  &__BarometerBottomInfo {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    color: colors.$blue-2;
    font-weight: 600;
    font-size: 12px;
    text-align: center;

    span {
      color: colors.$expert-blue;
      font-size: 16px;
    }
  }

  &__BarometerBottomInfoEdit {
    display: flex;
    width: 26px;
    height: 24px;
    margin-left: 5px;
  }
}
