@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.pictos" as p;

.c-RequestAddressFields {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__AddressContainer {
    margin: 0.5em 0 0 4px;
    padding: 20px;
    border: solid 1px colors.$black;
  }

  &__Header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.3em;

    div:last-of-type {
      margin-left: auto;
    }
  }

  &__Picto {
    @include p.get-picto("pin");

    width: 20px;
    height: 20px;
    margin-right: 14px;
  }
}
