.c-EditModal__ImageWrapper {
  position: relative;
  display: block;
  margin: 0;
  overflow: hidden;
}

.c-EditModal__Image {
  position: relative;
  display: block;
  object-fit: contain;
}

.c-EditModal__Body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
