@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.focus" as focus;

.c-NavigationListLink {
  @include focus.focus-ring;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 41px;
  padding: 10px 0 10px 49px;
  border-left: 4px solid transparent;

  &_active {
    background-color: colors.$gray-200;
    border-color: colors.$blue-default;
  }

  &__Label {
    color: colors.$expert-blue;
    font-weight: 500;
    font-size: 14px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 21px;
    text-align: left;
  }
}
