@use "src/styles/02-tools/tools.focus" as focus;
@use "src/styles/01-settings/settings.colors" as colors;

.c-PreviewButtonsFormat {
  @include focus.focus-ring;

  text-align: center;

  &__Button {
    border: 1px solid colors.$expert-blue;
    border-right: unset;
    border-left: unset;

    &_icon {
      filter: brightness(0);
      pointer-events: none;
    }

    &_active {
      background-color: colors.$black;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__Button:first-child {
    overflow: hidden;
    border: 1px solid colors.$expert-blue;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 1px rgb(255 255 255 / 0%);
  }

  &__Button:last-child {
    border: 1px solid colors.$expert-blue;
    border-radius: 0 4px 4px 0;
  }

  &__Button:focus > svg {
    background-color: colors.$expert-blue;
  }
}
